.nav {
  width: 50%;
}

.scheduleContainer {
  padding: 4rem 0;
}

.scheduleTitle {
  margin-bottom: 0.625rem;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  text-transform: uppercase;
}

.scheduleText {
  margin-bottom: 0.625rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.43;
}

table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  margin-bottom: 0.625rem;
}

.tableCellContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1.25rem 1rem;
}

.tableHeader {
  padding: 0.4375rem 0;
  border: 0.0625rem solid var(--black);
  border-top-width: 0.125rem;
  font-size: 0.9375rem;
  line-height: 1.6;
  font-weight: 400;
}

.tableCell {
  border: 0.0625rem solid var(--black);
  border-bottom-width: 0.125rem;
}

tr th:first-child {
  border-left-width: 0.125rem;
  border-top-width: 0.125rem;
  border-top-left-radius: 0.3125rem;
}

tr th:last-child {
  border-top-width: 0.125rem;
  border-right-width: 0.125rem;
  border-top-right-radius: 0.625rem;
}

tr .tableCell:first-child {
  border-bottom-width: 0.125rem;
  border-left-width: 0.125rem;
  border-bottom-left-radius: 0.3125rem;
}

tr .tableCell:last-child {
  border-bottom-width: 0.125rem;
  border-right-width: 0.125rem;
  border-bottom-right-radius: 0.3125rem;
}

.tableTime {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  border: 0.0625rem solid var(--black);
  border-radius: 0.3125rem;
  background-color: var(--blue-500);
  text-align: center;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1.6;
}

@media (max-width: 1024px) {
  .scheduleContainer {
    padding: 2.5rem 0;
  }

  .scheduleTitle {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }

  .scheduleText {
    font-size: 0.8125rem;
    margin-bottom: 0.125rem;
  }

  .tableHeader {
    padding: 0.25rem 0;
    font-size: 0.75rem;
  }

  .tableCellContainer {
    padding: 0.75rem 0.5rem;
    font-size: 0.5rem;
  }

  .tableTime {
    padding: 0.25rem;
    font-size: 0.5625rem;
  }
}
