@import url(base.css);

.childrenContainer {
  padding: 4rem 0;
}

.childrenTitle {
  margin-bottom: 1.5625rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.43;
}

.childrenLabel {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.43;
}

.childrenInput {
  margin: 0;
  width: 100%;
}

.childrenInputGroup {
  margin-top: 0.625rem;
  margin-bottom: 1.5625rem;
}

.childrenList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.childrenItem {
  display: flex;
  align-items: center;
}

.childrenItem:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.childrenText {
  margin-right: 0.25rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.43;
}

.childrenIcon {
  cursor: pointer;
}

.childrenIcon:hover path {
  transition: stroke 0.2s ease-in-out;
}

.childrenIcon:hover path {
  stroke: var(--black-600);
}

@media (max-width: 1024px) {
  .childrenContainer {
    padding: 2.5rem 0;
  }

  .childrenTitle {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .childrenLabel {
    font-size: 0.9375rem;
  }

  .childrenInputGroup {
    gap: 0.5rem;
    margin-top: 0.125rem;
    margin-bottom: 1rem;
  }

  .childrenItem {
    margin-bottom: 0;
  }

  .childrenText {
    font-size: 0.8125rem;
  }

  .childrenIcon {
    width: 0.9375rem;
    height: 0.9375rem;
  }
}
