@import url(base.css);

.groupsContainer {
  padding: 4rem 0;
}

.groupsTitle {
  margin-bottom: 1.5625rem;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.43;
  text-transform: uppercase;
  text-align: center;
}

.groupsLabel {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.43;
}

.groupsInputGroup {
  margin: 0.625rem 0 1.5625rem;
}

.groupsInput {
  width: 100%;
  margin: 0;
}

.groupsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.groupsItem {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.43;
}

.groupsBtn {
  display: flex;
  align-items: center;
  margin-left: 0.25rem;
}

.groupsBtn:hover svg path {
  transition: stroke 0.3s ease-in-out;
}

.groupsBtn:hover svg path {
  stroke: var(--black-600);
}

@media (max-width: 1024px) {
  .groupsContainer {
    padding: 2.5rem 0;
  }

  .groupsTitle {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }

  .groupsLabel {
    font-size: 0.9375rem;
  }

  .groupsInputGroup {
    margin-top: 0.125rem;
    margin-bottom: 0.5rem;
  }

  .groupsItem {
    font-size: 0.8125rem;
  }

  .groupsBtn {
    width: 0.8125rem;
    height: 0.8125rem;
  }
}
